<div class="top-row ps-3 navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="">İK Yönetim Paneli</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column mt-2">
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="" Match="NavLinkMatch.All">
                <span class="bi bi-speedometer2 me-2"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="departmanlar">
                <span class="bi bi-building me-2"></span> Departmanlar
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="pozisyonlar">
                <span class="bi bi-briefcase me-2"></span> Pozisyonlar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="personeller">
                <span class="bi bi-people me-2"></span> Personeller
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="izinler">
                <span class="bi bi-calendar-check me-2"></span> İzinler
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link text-white" href="raporlar">
                <span class="bi bi-file-earmark-bar-graph me-2"></span> Raporlar
            </NavLink>
        </div>
    </nav>
</div>