body {
    .border-dashed {
        border-style: dashed !important;
    }

    .hvr-shadow {
        transition: box-shadow 0.3s ease;
    }

        .hvr-shadow:hover {
            box-shadow: 0 5px 15px rgba(0,0,0,0.1) !important;
        }

    .file-icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
