@page "/login"
@layout EmptyLayout
@using HrPanel.Models
@using HrPanel.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [AllowAnonymous]
@inject AuthService AuthService
@inject NavigationManager Nav
@inject AuthenticationStateProvider AuthStateProvider

<div class="login-outer-container animate__animated animate__fadeIn">
    <div class="login-box">
        <h2 class="login-title">İK PANELİ GİRİŞ</h2>

        <div class="input-wrapper">
            <label>Kullanıcı Adı</label>
            <input type="text" class="custom-input" @bind="username" placeholder="Kullanıcı adı" />
        </div>

        <div class="input-wrapper">
            <label>Şifre</label>
            <input type="password" class="custom-input" @bind="password" placeholder="••••••••" />
        </div>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="error-text">@errorMessage</div>
        }

        <button class="custom-btn" @onclick="HandleLogin">Giriş Yap</button>
    </div>
</div>

@code {
    private string username = "";
    private string password = "";
    private string errorMessage = "";

    private async Task HandleLogin()
    {
        errorMessage = "";
        var user = await AuthService.LoginAsync(username, password);

        if (user != null)
        {
            var authProvider = (AuthStateProvider)AuthStateProvider;

            await authProvider.NotifyUserLogin(user.Username, user.Role, user.EmployeeId.ToString());

            Nav.NavigateTo("/");
        }
        else
        {
            errorMessage = "Hatalı giriş!";
        }
    }

}